<phpunit bootstrap="./troba/EQM/bootstrap.php">
    <testsuites>
        <testsuite name="troba Test Suite">
            <file>./troba/Utils/StringUtilsTest.php</file>
            <file>./troba/EQM/ConventionHandlerTest.php</file>
            <file>./troba/EQM/EQMInitializeTest.php</file>
            <file>./troba/EQM/EQMQueryArrayTest.php</file>
            <file>./troba/EQM/EQMInsertTest.php</file>
            <file>./troba/EQM/EQMUpdateTest.php</file>
            <file>./troba/EQM/EQMDeleteTest.php</file>
            <file>./troba/EQM/EQMTransactionTest.php</file>
            <file>./troba/EQM/EQMQueryObjectTest.php</file>
            <file>./troba/EQM/EQMEventTest.php</file>
            <file>./troba/Model/ModelFindersTest.php</file>
            <file>./troba/Model/ModelPersistersTest.php</file>
            <file>./troba/Model/ModelGettersSettersTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>